* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 190px;
    background: #ff8a00;
    transition: all 0.5s ease;
}
.sidebar.active {
    width: 60px;
}
.logo-appbar1 {
    width: 235px;
    margin-left: 15px;
}
.logo-appbar2 {
    width: 220px;
}
.sidebar .nav-links {
    margin-top: 10px;
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}
.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a.active {
    background: #ed8004;
}
.sidebar .nav-links li a:hover {
    background: #ed8004;
}
.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 28px;
    color: #fff;
}
.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 0.5s ease;
}
.contenedor {
    position: relative;
    min-height: 100vh;
    width: calc(100% - 190px);
    left: 190px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .contenedor {
    width: calc(100% - 60px);
    left: 60px;
}
.contenedor nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 190px);
    left: 190px;
    z-index: 1;
    padding: 0 12px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.sidebar.active ~ .contenedor nav {
    left: 60px;
    width: calc(100% - 60px);
}
.contenedor nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}
nav .sidebar-button i {
    font-size: 35px;
    margin-bottom: 10px;
}
.contenedor nav .search-box {
    position: relative;
    height: 50px;
    max-width: 440px;
    width: 100%;
    margin: 0 20px;
}
nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #f5f6fa;
    border: 2px solid #efeef1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}
nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #ff8a00;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}
.contenedor nav .profile-details {
    display: flex;
    align-items: center;
    background: #f5f6fa;
    border: 2px solid #efeef1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
}
nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}
nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}
nav .profile-details i {
    font-size: 25px;
    color: #333;
}
.contenedor .contenido {
    position: relative;
    padding: 110px 15px 10px 15px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.appbar {
    justify-content: space-between;
}
@media (max-width: 600px) {
    .ocultar {
        display: none;
    }
}
@media (min-width: 600px) {
    .ocultar2 {
        display: none;
    }
}
@media (min-width: 768px) {
    .sidebar {
        width: 60px;
    }
    .sidebar.active {
        width: 220px;
    }
    .contenedor {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .contenedor {
        width: calc(100% - 220px);
        overflow: hidden;
        left: 220px;
    }
    .contenedor nav {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .contenedor nav {
        width: calc(100% - 220px);
        left: 220px;
    }
    .sidebar:not(.active) .links_name {
        display: none;
        transition: all 3s ease;
    }
}
@media (max-width: 768px) {
    .sidebar {
        width: 0px;
    }
    .sidebar.active {
        width: 60px;
    }
    .contenedor {
        width: calc(100% - 0px);
        left: 0px;
    }
    .sidebar.active ~ .contenedor {
        width: calc(100% - 60px);
        left: 60px;
    }
    .contenedor nav {
        width: calc(100% - 0px);
        left: 0px;
    }
    .sidebar.active ~ .contenedor nav {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar:not(.active) .bx {
        display: none;
        transition: all 0.5s ease;
        transition-delay: 1s;
    }
    .sidebar li a span {
        display: none;
    }
}
ol,
ul {
    padding-left: 0;
}
